asgiref==3.2.3
Click==7.0
python-dateutil
decorator==4.4.1
dj-database-url==0.5.0
Django==3.0.2
django-admin-actions==0.1.1
django-admin-list-filter-dropdown==1.0.3
Django-Admin-Object-Actions==0.1.7
django-admin-rangefilter==0.5.4
django-filter==2.2.0
django-heroku==0.3.1
Flask==1.1.1
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
mysql-connector==2.2.9
mysqlclient==1.4.6
Pillow==7.0.0
psycopg2==2.8.5
python-decouple==3.3
pycryptodome==3.9.8
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
validators==0.14.2
Werkzeug==0.16.0
whitenoise==5.1.0
